@import "normaliz.styl"
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-5ur222');
	src:url('../fonts/icomoon.eot?#iefix-5ur222') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-5ur222') format('woff'),
		url('../fonts/icomoon.ttf?-5ur222') format('truetype'),
		url('../fonts/icomoon.svg?-5ur222#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e600";
}

.icon-pass:before {
	content: "\e601";
}

.icon-usuario:before {
	content: "\e602";
}

.icon-menu:before {
	content: "\e603";
}

.icon-volver:before {
	content: "\e604";
}

.icon-random:before {
	content: "\e605";
}

.icon-fav:before {
	content: "\e606";
}

.icon-add:before {
	content: "\e607";
}

.icon-volume-:before {
	content: "\e608";
}

.icon-volume:before {
	content: "\e609";
}

.icon-play:before {
	content: "\e60a";
}

.icon-next:before {
	content: "\e60b";
}

.icon-prev:before {
	content: "\e60c";
}

.icon-stop:before {
	content: "\e60d";
}

.icon-correo:before {
	content: "\e60e";
}

.icon-sfoty:before {
	content: "\e60f";
}

.icon-twitter:before {
	content: "\e610";
}

.icon-facebook:before {
	content: "\e611";
}

.icon-atras:before {
	content: "\e612";
}
	


gris_oscuro = #333333
gris_claro = #818181
rojo = #bd255b
img
	vertical-align top 
a
	text-decoration none
//buttons
.btn_menu
	color gris_oscuro
	left .5em
	margin-top -10px
	position absolute
	top 50%
//ocss clases
.relative
	position relative
.center-block
	margin 0 auto 
.center-text
	text-align center
.padding
	padding 1em
	
.gray 
	color gris_oscuro
	
.border-bottom
	border-bottom 1px solid gris_claro
.padding-tb
	padding 1em 0
	
body
	font-family 'Varela Round'
	font-size 16px
figure
	margin 0
header 
	border-bottom 1px solid gris_claro
	height 3.5em
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.menu
	display none
.container
	font-size 0
	padding 1.4rem
	text-align center
.name
	color gris_oscuro
.autor
	color gris_claro
.song
	color gris_claro
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	width 8rem
	&:nth-child(even)
		margin-right 0
	p 
		margin 0.5em 0
		
.playing
	&.small
		width 20em
.actions
	background rgba(black, .3)
	bottom 0
	left 0
	padding 1em
	position absolute
	right 0
	text-align right
	.action 
		color white
		font-size 1.2em
		margin-right .5em
		&:last-child
			margin-right 0
	
.progres
	margin 1.5em 0
	position relative
	.min 
	.max
		font-size 0.8em
		position absolute
		top -5px
	.min
		left 0
	.max
		right 0
	.total
		background gris_claro
		border-radius 5px
		height 5px
		margin 0 auto 
		width 75%
		.state
			background rojo
			border-radius 5px
			height 5px
			position relative
			width 33%
			.circle
				background gris_oscuro
				border-radius 50%
				height 12px
				position absolute
				right 0
				top -3px
				width 12px
				
.play
	.action
		margin-right 1em
		&:last-child
			margin-right 0	





	